.App, #app, body, html {
  margin:0;
  height:100%;
}

.App{
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: 80px auto 50px;
  background-color: #222326;
}
#app{
  background-color: #222326;
}
